// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (C) 2022 StreamUnlimited, Inc. All rights reserved.
 */


/*
 * DT for components located on StreamKit prime carrier board or daughter
 * boards which are not detectable via ADC.
 */

/ {
	sue {
		carrierboard = "streamkitprime";
	};
};

&spicc0 {
	num-cs = <1>;
	cs-gpios = <&gpio GPIOZ_3 GPIO_ACTIVE_HIGH>;
	stream183x-display@0 {
		compatible = "ilitek,ili9341";
		status = "okay";
		reg = <0>;
		spi-max-frequency = <32000000>;
		buswidth = <8>;
		rotate = <90>;
		bgr;
		dc-gpios = <&gpio GPIOA_8 GPIO_ACTIVE_HIGH>;
		debug = <0>;
	};
};
