// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2017 Amlogic, Inc. All rights reserved.
 */

/dts-v1/;

#include "../amlogic/meson-axg.dtsi"
#include <dt-bindings/input/input.h>
#include <dt-bindings/thermal/thermal.h>

/ {
	compatible = "sue,stream1832", "amlogic,a113d", "amlogic,meson-axg";
	model = "Amlogic";

	sue {
		carrierboard = "streamkit1832";
		daughterboard = "dabfm";
	};

	aliases {
		serial0 = &uart_AO;
		serial1 = &uart_B;
		i2c0 = &i2c1;
		i2c1 = &i2c_AO;
	};

	cpu_opp_table: cpu_opp_table {
		compatible = "operating-points-v2";
		opp-shared;

		opp96MHz: opp@96000000 {
			opp-hz = /bits/ 64 <96000000>;
			opp-microvolt = <850000>;
			clock-latency-ns = <200>;
		};
		opp264MHz: opp@264000000 {
			opp-hz = /bits/ 64 <264000000>;
			opp-microvolt = <850000>;
			clock-latency-ns = <200>;
		};
		opp504MHz: opp@504000000 {
			opp-hz = /bits/ 64 <504000000>;
			opp-microvolt = <850000>;
			clock-latency-ns = <200>;
		};
		opp672MHz: opp@672000000 {
			opp-hz = /bits/ 64 <672000000>;
			opp-microvolt = <850000>;
			clock-latency-ns = <200>;
		};
		opp768MHz: opp@768000000 {
			opp-hz = /bits/ 64 <768000000>;
			opp-microvolt = <950000>;
			clock-latency-ns = <200>;
		};
		opp1_2GHz: opp@1176000000 {
			opp-hz = /bits/ 64 <1176000000>;
			opp-microvolt = <1050000>;
			clock-latency-ns = <200>;
			opp-workmode = <1>; /* 1: REGULATOR_MODE_FAST => PWM only mode on AXP152 */

			/*
			 * An operating point marked with opp-suspend will be set when the system
			 * goes to suspend *or* reboot *or* shutdown.
			 *
			 * For Stream1832 we want to set the AXP152 back to the 1.2 GHz voltage, otherwise
			 * the U-Boot will not be able to boot after a reboot since the vdd_arm voltage
			 * might be too low from a previous frequency change to a lower operating point.
			 */
			opp-suspend;
		};
		opp1_3GHz: opp@1344000000 {
			opp-hz = /bits/ 64 <1344000000>;
			opp-microvolt = <1075000>;
			clock-latency-ns = <200>;
			opp-workmode = <1>; /* 1: REGULATOR_MODE_FAST => PWM only mode on AXP152 */
		};

		/*
		 * The 1.5 GHz operating point is intentionally disabled since VDDCPU is above
		 * the recommended operating conditions.
		 */
		/*
		opp1_5GHz: opp@1512000000 {
			opp-hz = /bits/ 64 <1416000000>;
			opp-microvolt = <1150000>;
			clock-latency-ns = <200>;
			opp-workmode = <1>;
		};
		*/
	};

	thermal-zones {
		soc_thermal {
			polling-delay = <1000>;
			polling-delay-passive = <100>;

			thermal-sensors = <&scpi_sensors 0>;

			trips {
				passive: trip-point@0 {
					temperature = <90000>;
					hysteresis = <3000>;
					type = "passive";
				};
				critical: trip-point@1 {
					temperature = <110000>;
					hysteresis = <1000>;
					type = "critical";
				};
			};

			cooling-maps {
				cpufreq_cooling_map {
					trip = <&passive>;
					/* Corresponds to 768MHz in OPP table */
					cooling-device = <&cpu0 4 4>, <&cpu1 4 4>,
							<&cpu2 4 4>, <&cpu3 4 4>;
				};
			};
		};
	};

	vddao_3v3: regulator-vddao_3v3 {
		compatible = "regulator-fixed";
		regulator-name = "VDDAO_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	vddio_boot: regulator-vddio_boot {
		compatible = "regulator-fixed";
		regulator-name = "VDDIO_BOOT";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};

	// linein: audio-codec-0 {
	// 	#sound-dai-cells = <0>;
	// 	compatible = "linux,spdif-dir";
	// 	status = "okay";
	// 	sound-name-prefix = "Linein";
	// };

	// lineout: audio-codec-1 {
	// 	#sound-dai-cells = <0>;
	// 	compatible = "linux,spdif-dit";
	// 	status = "okay";
	// 	sound-name-prefix = "Lineout";
	// };
	spdif_dit: audio-codec-2 {
		#sound-dai-cells = <0>;
		compatible = "linux,spdif-dit";
		status = "okay";
		sound-name-prefix = "DIT";
	};

	dmics: audio-codec-3 {
		#sound-dai-cells = <0>;
		compatible = "dmic-codec";
		num-channels = <7>;
		wakeup-delay-ms = <50>;
		status = "okay";
		sound-name-prefix = "MIC";
	};

	dummy_codec:dummy{
		#sound-dai-cells = <0>;
		compatible = "meson,dummy-codec";
		playback-rates = <44100 48000 64000 88200 96000 176400 192000>;
		status = "okay";
		sound-name-prefix = "DUMMY";
	};

	spdif_dir: audio-codec-4 {
		#sound-dai-cells = <0>;
		compatible = "linux,spdif-dir";
		status = "okay";
		sound-name-prefix = "DIR";
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory@00000000 {
		device_type = "memory";
		reg = <0x0 0x000000 0x0 0x20000000>;
		linux,usable-memory = <0x0 0x0000000 0x0 0x20000000>;
	};

	wifi_reset: wifi-reset {
		compatible = "amlogic, aml_wifi";
		status = "okay";

		power_on_pin = <&gpio_ao GPIOAO_4 GPIO_ACTIVE_HIGH>;
		vrf_pin = <&gpio GPIOZ_10 GPIO_OPEN_DRAIN>;
	};

	sdio_pwrseq: sdio-pwrseq {
		compatible = "mmc-pwrseq-simple";
		reset-gpios = <&gpio GPIOX_7 GPIO_ACTIVE_LOW>;
		clocks = <&wifi32k>;
		clock-names = "ext_clock";
	};

	firmware  {
		optee  {
			compatible = "linaro,optee-tz";
			method = "smc";
		};
	};

	secmon {
		compatible = "amlogic, secmon";
		memory-region = <&secmon_reserved>;
		in_base_func = <0x82000020>;
		out_base_func = <0x82000021>;
		reserve_mem_size = <0x00300000>;
	};

	reserved-memory {
		secos_reserved:linux,secos {
			status = "disable";
			compatible = "amlogic, aml_secos_memory";
			reg = <0x0 0x05300000 0x0 0x2000000>;
			no-map;
		};
		/delete-node/ secmon@5000000;
		secmon_reserved:linux,secmon {
			compatible = "shared-dma-pool";
			no-map;
			size = <0x0 0x400000>;
			alignment = <0x0 0x400000>;
			alloc-ranges = <0x0 0x05000000 0x0 0x400000>;
			reg = <0x0 0x05000000 0x0 0x1400000>;
		};
	};

	vrtc: rtc@0a8 {
		compatible = "amlogic,meson-vrtc";
		reg = <0x0 0x000a8 0x0 0x4>;
	};

	sound {
		compatible = "amlogic,axg-sound-card";
		model = "AXG-S400";
		audio-aux-devs = <&tdmin_b>, <&tdmin_c>, <&tdmout_c>;
				 		/* "sink", 		"source" */
		audio-routing = "TDM_C Playback", "TDMOUT_C OUT",
						"TDMOUT_C IN 1", "FRDDR_B OUT 2",
						"SPDIFOUT IN 2", "FRDDR_C OUT 3",
						"TODDR_C IN 3", "SPDIFIN Capture",
						"TDMIN_C IN 2", "TDM_C Capture",
						"TDMIN_C IN 5", "TDM_C Loopback",
						"TODDR_A IN 2", "TDMIN_C OUT",
						"TDMIN_B IN 1", "TDM_B Capture",
						"TODDR_B IN 1", "TDMIN_B OUT";
		// audio-widgets = "Line", "Lineout",
		// 		"Line", "Linein",
		// 		"Speaker", "Speaker1 Left",
		// 		"Speaker", "Speaker1 Right";
		// audio-routing = "TDMOUT_C IN 0", "FRDDR_A OUT 2",
		// 		"SPDIFOUT IN 0", "FRDDR_A OUT 3",
		// 		"TDMOUT_C IN 1", "FRDDR_B OUT 2",
		// 		"SPDIFOUT IN 1", "FRDDR_B OUT 3",
		// 		"TDMOUT_C IN 2", "FRDDR_C OUT 2",
		// 		"SPDIFOUT IN 2", "FRDDR_C OUT 3",
		// 		"TDM_C Playback", "TDMOUT_C OUT",
		// 		"TDMIN_A IN 2", "TDM_C Capture",
		// 		"TDMIN_A IN 5", "TDM_C Loopback",
		// 		"TDMIN_B IN 2", "TDM_C Capture",
		// 		"TDMIN_B IN 5", "TDM_C Loopback",
		// 		"TDMIN_C IN 2", "TDM_C Capture",
		// 		"TDMIN_C IN 5", "TDM_C Loopback",
		// 		"TDMIN_LB IN 2", "TDM_C Loopback",
		// 		"TDMIN_LB IN 5", "TDM_C Capture",
		// 		"TODDR_A IN 0", "TDMIN_A OUT",
		// 		"TODDR_B IN 0", "TDMIN_A OUT",
		// 		"TODDR_C IN 0", "TDMIN_A OUT",
		// 		"TODDR_A IN 1", "TDMIN_B OUT",
		// 		"TODDR_B IN 1", "TDMIN_B OUT",
		// 		"TODDR_C IN 1", "TDMIN_B OUT",
		// 		"TODDR_A IN 2", "TDMIN_C OUT",
		// 		"TODDR_B IN 2", "TDMIN_C OUT",
		// 		"TODDR_C IN 2", "TDMIN_C OUT",
		// 		"TODDR_A IN 3", "SPDIFIN Capture",
		// 		"TODDR_B IN 3", "SPDIFIN Capture",
		// 		"TODDR_C IN 3", "SPDIFIN Capture",
		// 		"TODDR_A IN 4", "PDM Capture",
		// 		"TODDR_B IN 4", "PDM Capture",
		// 		"TODDR_C IN 4", "PDM Capture",
		// 		"TODDR_A IN 6", "TDMIN_LB OUT",
		// 		"TODDR_B IN 6", "TDMIN_LB OUT",
		// 		"TODDR_C IN 6", "TDMIN_LB OUT",
		// 		// "Lineout", "Lineout AOUTL",
		// 		// "Lineout", "Lineout AOUTR",
		// 		"Speaker1 Left", "SPK1 LOUTL",
		// 		"Speaker1 Left", "SPK1 Left DAC",
		// 		"Speaker1 Right", "SPK1 LOUTR",
		// 		"Speaker1 Right", "SPK1 Right DAC";
		// 		// "Linein AINL", "Linein",
		// 		// "Linein AINR", "Linein";
		assigned-clocks = <&clkc CLKID_HIFI_PLL>,
				  <&clkc CLKID_MPLL0>,
				  <&clkc CLKID_MPLL1>;
		assigned-clock-parents = <0>, <0>, <0>;
		assigned-clock-rates = <491520000>,
				       <270950400>,
				       <393216000>;
		status = "okay";

		dai-link-0 {
			sound-dai = <&frddr_a>;
		};

		dai-link-1 {
			sound-dai = <&frddr_b>;
		};

		dai-link-2 {
			sound-dai = <&frddr_c>;
		};

		dai-link-3 {
			sound-dai = <&toddr_a>;
		};

		dai-link-4 {
			sound-dai = <&toddr_b>;
		};

		dai-link-5 {
			sound-dai = <&toddr_c>;
		};

		dai-link-6 {
			sound-dai = <&tdmif_c>;
			dai-format = "i2s";
			dai-tdm-slot-tx-mask-0 = <1 1>;
			dai-tdm-slot-rx-mask-1 = <1 1>;
			dai-tdm-slot-num = <2>;
			dai-tdm-slot-width = <32>;
			mclk-fs = <0>;
			continuous-clock;
			system-clock-frequency = <24576000>;
			// bitclock-master = <&tdmif_c>;
			// frame-master = <&tdmif_c>;

			// codec-0 {
			// 	use-dummy-codec;
			// 	//sound-dai = <&lineout>;
			// };

			codec-0 {
				//use-dummy-codec;
				//sound-dai = <&dummy_codec>;
				sound-dai = <&dummy_codec &ma12040_20>;
			};

			// codec-1 {
			// 	//use-dummy-codec;
			// 	sound-dai = <&dummy_codec>;
			// };

		};

		dai-link-7 {
			sound-dai = <&spdifout>;

			codec {
				sound-dai = <&spdif_dit>;
			};
		};

		dai-link-8 {
			sound-dai = <&spdifin>;

			codec {
				sound-dai = <&spdif_dir>;
			};
		};

		// dai-link-9 {
		// 	sound-dai = <&pdm>;

		// 	codec {
		// 		sound-dai = <&dmics>;
		// 	};
		// };
		dai-link-10 {
			sound-dai = <&tdmif_b>;
			dai-format = "i2s";
			dai-tdm-slot-rx-mask-0 = <1 1>;
			dai-tdm-slot-num = <2>;
			dai-tdm-slot-width = <32>;
			mclk-fs = <0>;

			codec {
				sound-dai = <&dummy_codec>;
			};
		};
	};

	wifi32k: wifi32k {
		compatible = "pwm-clock";
		#clock-cells = <0>;
		clock-frequency = <32768>;
		pwms = <&pwm_ab 0 30518 0>; /* PWM_A at 32.768KHz */
	};

	mtd_nand: nfc@0xFFE07800 {
		compatible = "amlogic,meson-nfc-single-ecc";
		status = "okay";
		reg = <0x0 0xFFE07800 0x0 0x200>;
		interrupts = <GIC_SPI 34 IRQ_TYPE_EDGE_RISING>;

		pinctrl-names = "nand_norb_mod", "nand_cs_only";
		pinctrl-0 = <&all_nand_pins>;
		pinctrl-1 = <&nand_cs_pins>;
		clocks = <&clkc CLKID_SD_EMMC_C>,
				<&clkc CLKID_FCLK_DIV2>;
		clock-names = "gate", "fdiv2pll";

		bl_mode = <1>;
		fip_copies = <4>;
		fip_size = <0x200000>;
		nand_clk_ctrl = <0xFFE07000>;
		ship_bad_block = <1>;
		disa_irq_flag = <1>;
		/*partions defined in dts*/
		nand@bootloader {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <1>;
			nand-ecc-maximize;
			partition@0 {
				label = "bootloader";
				reg = <0x0 0x0>;
			};
		};
		nand@normal {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <1>;
			nand-ecc-maximize;

			partition@0 {
				label = "tpl";
				reg = <0x1000000 0x800000>;
			};
			partition@1{
				label = "environment";
				reg = <0x0 0x80000>;
			};
			partition@2{
				label = "constants";
				reg = <0x0 0x80000>;
			};
			partition@3{
				label = "swufit";
				reg = <0x0 0x2000000>;
			};
			partition@4{
				label = "fit";
				reg = <0x0 0xC00000>;
			};
			partition@5{
				label = "data";
				reg = <0x0 0xffffffff>;
			};
		};
	};
};

&gpio_ao {
	sysfs-base = <497>;
	interrupt-parent = <&gpio_intc>;
};

&gpio {
	sysfs-base = <411>;
	interrupt-parent = <&gpio_intc>;
};

&cpu0 {
	cpu-supply = <&vdd_arm>;
	operating-points-v2 = <&cpu_opp_table>;
	#cooling-cells = <2>;
};

&cpu1 {
	operating-points-v2 = <&cpu_opp_table>;
	#cooling-cells = <2>;
};

&cpu2 {
	operating-points-v2 = <&cpu_opp_table>;
	#cooling-cells = <2>;
};

&cpu3 {
	operating-points-v2 = <&cpu_opp_table>;
	#cooling-cells = <2>;
};

&spicc0 {
	status = "okay";
	pinctrl-names= "default";
	pinctrl-0=<&spi0_pins>;
	num-cs = <2>;
	cs-gpios = <&gpio GPIOZ_3 GPIO_ACTIVE_HIGH>, <&gpio GPIOZ_4 GPIO_ACTIVE_HIGH>;
	dabfm: spi@0 {
		compatible = "sue,dabfm";
		status = "okay";
		reg = <0>;
		spi-max-frequency = <9000000>;
	};
	stream183x_display: spi@1 {
		compatible = "levetop,lt7381";
		status = "okay";
		reg = <1>;
		spi-max-frequency = <28700000>;
		spi-cpol;
		spi-cpha;
		buswidth = <8>;
		rotate = <0>;
		width = <320>;
		height = <240>;
		bgr;
		reset-gpios = <&gpio GPIOA_18 GPIO_ACTIVE_LOW>;
		debug = <0>;
		xtal-frequency = <10000000>;
	};
};

&stream183x_display {
	width = <320>;
	height = <240>;
	pwm-count = <1800>;
	backlight-max-brightness = <90>;
	backlight-default-brightness = <75>;

	display-timings {

		LQ035NC11: LQ035NC11 {
			clock-frequency = <13700000>;
			hactive = <320>;
			vactive = <240>;
			hback-porch = <38>;
			hsync-len = <30>;
			hfront-porch = <20>;
			vback-porch = <15>;
			vsync-len = <3>;
			vfront-porch = <4>;
			hsync-active = <0>;
			vsync-active = <0>;
			de-active = <1>;
			pixelclk-active = <0>;
		};

	};
};

&ethmac {
	status = "okay";
	pinctrl-0 = <&eth_rmii_x_pins>;
	pinctrl-names = "default";
	phy-handle = <&eth_phy0>;
	phy-mode = "rmii";

	mdio {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;
		snps,reset-gpio = <&gpio_ao GPIOAO_7 GPIO_ACTIVE_LOW>;
		snps,reset-active-low = <1>;
		snps,reset-delays-us = <1000 10000 1000>;

		eth_phy0: ethernet-phy@0 {
			reg = <0>;
			interrupt-names = "macirq";
			compatible = "ethernet-phy-id0007.c110";
		};
	};
};

&frddr_a {
	status = "okay";
};

&frddr_b {
	status = "okay";
};

&frddr_c {
	status = "okay";
};

&i2c1 {
	status = "okay";
	pinctrl-0 = <&i2c1_z_pins>;
	pinctrl-names = "default";
	clock-frequency = <400000>;

	ma12040_20: ma12040@20 {
		compatible = "infineon,ma12040";
		#sound-dai-cells = <0>;
		reg = <0x20>;
		sound-name-prefix = "SPK1";
	};
};

&i2c_AO {
	status = "okay";
	pinctrl-0 = <&i2c_ao_sck_10_pins>, <&i2c_ao_sda_11_pins>;
	pinctrl-names = "default";

	pmic: axp152@32 {
		compatible = "x-powers,axp152";
		reg = <0x32>;
		no-irq;

		regulators {
			vdd_arm: dcdc2 {
				regulator-name = "vdd_arm";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <1150000>;
				regulator-boot-on;
				regulator-always-on;

				/*
				 * Allow the following workmodes (OR'ed together):
				 *   1: REGULATOR_MODE_FAST	=> PWM only mode
				 *   2: REGULATOR_MODE_NORMAL	=> Auto mode
				 */
				regulator-allowed-modes = <3>;
			};

			out_3v3: ldo0 {
				regulator-name = "3v3_out";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;

				x-powers,disable-before-poweroff;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};
		};
	};
};

&pdm {
	pinctrl-0 = <&pdm_dclk_a14_pins>, <&pdm_din0_pins>;
	pinctrl-names = "default";
	status = "okay";
	assigned-clocks = <&clkc_audio AUD_CLKID_PDM_DCLK_SEL>;
	assigned-clock-parents = <&clkc CLKID_HIFI_PLL>;
};

&pwm_ab {
	status = "okay";
	pinctrl-0 = <&pwm_a_x20_pins>;
	pinctrl-names = "default";
};

&saradc {
	status = "okay";
};

/* wifi module */
&sd_emmc_b {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default", "clk-gate";
	pinctrl-0 = <&sdio_pins>;
	pinctrl-1 = <&sdio_clk_gate_pins>;

	mmc-pwrseq = <&sdio_pwrseq>;
	vmmc-supply = <&vddao_3v3>;
	vqmmc-supply = <&vddio_boot>;

	bus-width = <4>;
	cap-sd-highspeed;
	cap-mmc-highspeed;
	max-frequency = <200000000>;
	non-removable;
	disable-wp;
	sd-uhs-sdr12;
	sd-uhs-sdr25;
	sd-uhs-sdr50;
	sd-uhs-sdr104;
	fixed-emmc-driver-type = <3>;
};

/* emmc storage */
&sd_emmc_c {
	status = "disabled";
};

&spdifin {
	pinctrl-0 = <&spdif_in_a19_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&spdifout {
	pinctrl-0 = <&spdif_out_a20_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&tdmif_a {
	pinctrl-0 = <&tdma_sclk_pins>, <&tdma_fs_pins>,
		    <&tdma_din0_pins>, <&tdma_dout0_x15_pins>;
	pinctrl-names = "default";
	status = "disabled";
};

&tdmif_b {
	pinctrl-0 = <&tdmb_sclk_pins>, <&tdmb_fs_pins>,
		    <&tdmb_din0_pins>;
	pinctrl-names = "default";
	status = "okay";

	assigned-clocks = <&clkc_audio AUD_CLKID_MST_B_MCLK_SEL>;
	assigned-clock-parents = <&clkc CLKID_HIFI_PLL>;
};

&tdmif_c {
	pinctrl-0 = <&tdmc_sclk_pins>, <&tdmc_fs_pins>,
		    <&tdmc_dout0_pins>, <&tdmc_din1_pins>,
		    <&mclk_c_pins>;
	pinctrl-names = "default";
	status = "okay";
	mute-gpios = <&gpio_ao GPIOAO_13 GPIO_ACTIVE_LOW>;
	enable-drift-compensator;

	assigned-clocks = <&clkc_audio AUD_CLKID_MST_C_MCLK_SEL>;
	assigned-clock-parents = <&clkc CLKID_HIFI_PLL>;
};

&tdmin_a {
	status = "okay";
};

&tdmin_b {
	status = "okay";
};

&tdmin_c {
	status = "okay";
};

&tdmin_lb {
	status = "okay";
};

&tdmout_c {
	status = "okay";
};

&toddr_a {
	status = "okay";
};

&toddr_b {
	status = "okay";
};

&toddr_c {
	status = "okay";
};

&uart_B {
	status = "okay";
	pinctrl-0 = <&uart_b_x_pins>, <&uart_b_x_cts_rts_pins>;
	pinctrl-names = "default";
	uart-has-rtscts;
	fifo-size = <64>;
	clocks = <&clkc CLKID_CLK81>, <&clkc CLKID_UART1>, <&clkc CLKID_CLK81>;
	clock-names = "xtal", "pclk", "baud";
};

&uart_AO {
	status = "okay";
	pinctrl-0 = <&uart_ao_a_pins>;
	pinctrl-names = "default";
};

&usb {
	status = "okay";
	dr_mode = "otg";
};

&pinctrl_periphs {
	all_nand_pins: all_nand_pins {
		mux {
			groups =  "emmc_nand_d0",
				"emmc_nand_d1",
				"emmc_nand_d2",
				"emmc_nand_d3",
				"emmc_nand_d4",
				"emmc_nand_d5",
				"emmc_nand_d6",
				"emmc_nand_d7",
				"nand_ce0",
				"nand_ale",
				"nand_cle",
				"nand_wen_clk",
				"nand_ren_wr",
				"nand_rb0";
			function = "nand";
			input-enable;
		};
	};
	nand_cs_pins:nand_cs {
		mux {
			groups = "nand_ce0";
			function = "nand";
		};
	};
};