// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (C) 2022 StreamUnlimited, Inc. All rights reserved.
 */


/*
 * DT for default configuration of Stream183x external IOs.
 */


/ {
	aliases {
		spi0 = &spicc0;
	};

	spdif_dit: audio-codec-2 {
		#sound-dai-cells = <0>;
		compatible = "linux,spdif-dit";
		status = "okay";
		sound-name-prefix = "DIT";
	};

	spdif_dir: audio-codec-4 {
		#sound-dai-cells = <0>;
		compatible = "linux,spdif-dir";
		status = "okay";
		sound-name-prefix = "DIR";
	};

	dmics: audio-codec-3 {
		#sound-dai-cells = <0>;
		compatible = "dmic-codec";
		num-channels = <7>;
		wakeup-delay-ms = <50>;
		status = "okay";
		sound-name-prefix = "MIC";
	};

	dummy_codec:dummy{
		#sound-dai-cells = <0>;
		compatible = "meson,dummy-codec";
		playback-rates = <44100 48000 64000 88200 96000 176400 192000>;
		status = "okay";
		sound-name-prefix = "DUMMY";
	};

	sound {
		compatible = "amlogic,axg-sound-card";
		model = "AXG-S400";
		assigned-clocks = <&clkc CLKID_HIFI_PLL>,
				  <&clkc CLKID_MPLL0>,
				  <&clkc CLKID_MPLL1>;
		assigned-clock-parents = <0>, <0>, <0>;
		assigned-clock-rates = <491520000>,
				       <270950400>,
				       <393216000>;
		status = "okay";
		audio-aux-devs = <&tdmin_b>, <&tdmin_c>, <&tdmout_c>;
						/* "sink", 		"source" */
		audio-routing = "TDM_C Playback", "TDMOUT_C OUT",
						"TDMOUT_C IN 1", "FRDDR_B OUT 2",
						"SPDIFOUT IN 2", "FRDDR_C OUT 3",
						"TODDR_C IN 3", "SPDIFIN Capture",
						"TDMIN_C IN 2", "TDM_C Capture",
						"TDMIN_C IN 5", "TDM_C Loopback",
						"TODDR_B IN 2", "TDMIN_C OUT",
						"TDMIN_B IN 1", "TDM_B Capture",
						"TODDR_B IN 1", "TDMIN_B OUT",
						"TODDR_A IN 4", "PDM Capture";

		mute-gpios = <&gpio_ao GPIOAO_13 GPIO_ACTIVE_LOW>;
		pdown-gpios = <&gpio GPIOZ_4 GPIO_ACTIVE_LOW>;

		dai-link-0 {
			sound-dai = <&frddr_a>;
		};

		dai-link-1 {
			sound-dai = <&frddr_b>;
		};

		dai-link-2 {
			sound-dai = <&frddr_c>;
		};

		dai-link-3 {
			sound-dai = <&toddr_a>;
		};

		dai-link-4 {
			sound-dai = <&toddr_b>;
		};

		dai-link-5 {
			sound-dai = <&toddr_c>;
		};

		dai-link-6 {
			sound-dai = <&pdm>;

			codec {
				sound-dai = <&dmics>;
			};
		};

		dai-link-7 {
			sound-dai = <&tdmif_b>;
			dai-format = "i2s";
			dai-tdm-slot-rx-mask-0 = <1 1>;
			dai-tdm-slot-num = <2>;
			dai-tdm-slot-width = <32>;
			mclk-fs = <0>;
			system-clock-frequency = <24576000>;

			codec {
				sound-dai = <&dummy_codec>;
			};
		};

		dai-link-8 {
			sound-dai = <&tdmif_c>;
			dai-format = "i2s";
			dai-tdm-slot-tx-mask-0 = <1 1>;
			dai-tdm-slot-rx-mask-1 = <1 1>;
			dai-tdm-slot-num = <2>;
			dai-tdm-slot-width = <32>;
			mclk-fs = <0>;
			continuous-clock;
			system-clock-frequency = <24576000>;

			codec-0 {
				sound-dai = <&dummy_codec>;
			};
		};

		dai-link-9 {
			sound-dai = <&spdifout>;

			codec {
				sound-dai = <&spdif_dit>;
			};
		};

		dai-link-10 {
			sound-dai = <&spdifin>;

			codec {
				sound-dai = <&spdif_dir>;
			};
		};
	};
};

&ethmac {
	status = "okay";
	pinctrl-0 = <&eth_rmii_x_pins>;
	pinctrl-names = "default";
	phy-handle = <&eth_phy0>;
	phy-mode = "rmii";

	mdio {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;
		snps,reset-gpio = <&gpio_ao GPIOAO_7 GPIO_ACTIVE_LOW>;
		snps,reset-active-low = <1>;
		snps,reset-delays-us = <1000 10000 1000>;

		eth_phy0: ethernet-phy@0 {
			reg = <0>;
			interrupt-names = "macirq";
			compatible = "ethernet-phy-id0007.c110";
		};
	};
};

&i2c1 {
	status = "okay";
	pinctrl-names="default";
	pinctrl-0=<&i2c1_z_pins>;
	clock-frequency = <400000>;
};

&spicc0 {
	status = "okay";
	pinctrl-names= "default";
	pinctrl-0=<&spi0_pins>;
};

&tdmin_b {
	status = "okay";
};

&tdmin_c {
	status = "okay";
};

&tdmout_c {
	status = "okay";
};

&tdmif_b {
	pinctrl-0 = <&tdmb_sclk_pins>, <&tdmb_fs_pins>,
		    <&tdmb_din0_pins>;
	pinctrl-names = "default";
	status = "okay";

	assigned-clocks = <&clkc_audio AUD_CLKID_MST_B_MCLK_SEL>;
	assigned-clock-parents = <&clkc CLKID_HIFI_PLL>;
};

&tdmif_c {
	pinctrl-0 = <&tdmc_sclk_pins>, <&tdmc_fs_pins>,
		    <&tdmc_dout0_pins>, <&tdmc_din1_pins>,
		    <&mclk_c_pins>;
	pinctrl-names = "default";
	status = "okay";
	enable-drift-compensator;

	assigned-clocks = <&clkc_audio AUD_CLKID_MST_C_MCLK_SEL>;
	assigned-clock-parents = <&clkc CLKID_HIFI_PLL>;
};

&pdm {
	pinctrl-0 = <&pdm_dclk_a14_pins>, <&pdm_din0_pins>;
	pinctrl-names = "default";
	status = "okay";
	assigned-clocks = <&clkc_audio AUD_CLKID_PDM_SYSCLK_SEL>, <&clkc_audio AUD_CLKID_PDM_DCLK_SEL>;
	assigned-clock-parents = <&clkc CLKID_HIFI_PLL>, <&clkc CLKID_HIFI_PLL>;
};

&spdifin {
	pinctrl-0 = <&spdif_in_a19_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&toddr_c {
	compatible = "amlogic,axg-toddr-spdif";
};

&spdifout {
	pinctrl-0 = <&spdif_out_a20_pins>;
	pinctrl-names = "default";
	status = "okay";
};
