// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (C) 2022 StreamUnlimited, Inc. All rights reserved.
 * Copyright (C) 2023 Zuma Array Ltd. All rights reserved.
 */


/*
 * Overrides for ZMSL-01
 */

/ {
	sue {
		carrierboard = "zumasl";	// matches U-Boot
	};

	aliases {
		/delete-property/ spi0;
		serial2 = &uart_AO_B;
		i2c0 = &i2c2;
	};
};

&spicc0 {
	status = "disabled";
};

&i2c1 {
	status = "disabled";
};

&uart_AO_B {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart_ao_b_z_pins>;
};

&i2c2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2_a_pins>;
	clock-frequency = <400000>;
};

&ethmac {
	phy-handle = <&eth_phy1>;
	mdio {
		/delete-node/ ethernet-phy@0;
		eth_phy1: ethernet-phy@1 {
			reg = <1>;
			interrupt-names = "macirq";
			compatible = "ethernet-phy-id0007.c0f0", "ethernet-phy-ieee802.3-c22";
		};
	};
};

&gpio_ao {
	gpio-line-names = "", "", "", "NPB_IN_N",
		"SDIO_WIFI", "", "", "PHY_RESET_N",
		"", "","", "",
		"USB_DRVVBUS", "MUTE_N", "";
};

&gpio {
	gpio-line-names = "", "USB_ID_DET", "MCU_RST_EXT", "",
		"PDOWN", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "";
};
