// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (C) 2022 StreamUnlimited, Inc. All rights reserved.
 * Copyright (C) 2023 Zuma Array Ltd. All rights reserved.
 */


/*
 * Overrides for ZMSL-01
 */

/ {
	sue {
		carrierboard = "zumasl";	// matches U-Boot
	};

	aliases {
		/delete-property/ spi0;
		serial2 = &uart_AO_B;
		i2c0 = &i2c2;
	};

	dmics: audio-codec-3 {
		#sound-dai-cells = <0>;
		compatible = "dmic-codec";
		num-channels = <4>;
		wakeup-delay-ms = <50>;
		status = "okay";
		sound-name-prefix = "MIC";
	};

	sound {
		audio-aux-devs = <&tdmin_c>, <&tdmout_c>;
						/* "sink", 		"source" */
		audio-routing = "TDM_C Playback", "TDMOUT_C OUT",
						"TDMOUT_C IN 1", "FRDDR_B OUT 2",
						"SPDIFOUT IN 2", "FRDDR_C OUT 3",
						"TODDR_C IN 3", "SPDIFIN Capture",
						"TDMIN_C IN 2", "TDM_C Capture",
						"TDMIN_C IN 5", "TDM_C Loopback",
						"TODDR_B IN 2", "TDMIN_C OUT",
						"TODDR_A IN 4", "PDM Capture";

		dai-link-6 {
			sound-dai = <&pdm>;

			codec {
				sound-dai = <&dmics>;
			};
		};

		dai-link-7 {
			sound-dai = <&tdmif_c>;
			dai-format = "i2s";
			dai-tdm-slot-tx-mask-0 = <1 1>;
			dai-tdm-slot-rx-mask-1 = <1 0>;
			dai-tdm-slot-num = <2>;
			dai-tdm-slot-width = <32>;
			mclk-fs = <0>;
			continuous-clock;
			system-clock-frequency = <24576000>;
		};
	};
};

&spicc0 {
	status = "disabled";
};

&i2c1 {
	status = "disabled";
};

&uart_AO_B {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart_ao_b_z_pins>;
};

&i2c2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2_a_pins>;
	clock-frequency = <400000>;
};

&ethmac {
	phy-handle = <&eth_phy1>;
	mdio {
		/delete-node/ ethernet-phy@0;
		eth_phy1: ethernet-phy@1 {
			reg = <1>;
			interrupt-names = "macirq";
			compatible = "ethernet-phy-id0007.c0f0", "ethernet-phy-ieee802.3-c22";
		};
	};
};

&button_sense {
	linux,code = <KEY_SLEEP>;
};

&gpio_ao {
	gpio-line-names = "", "", "", "NPB_IN_N",
		"SDIO_WIFI", "", "", "PHY_RESET_N",
		"", "","", "",
		"USB_DRVVBUS", "MUTE_N", "";
};

&gpio {
	gpio-line-names = "", "USB_ID_DET", "MCU_RST_EXT", "",
		"PDOWN", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "";
};

&tdmif_b {
	status = "disabled";
};

&tdmin_c {
	status = "okay";
};

&tdmout_c {
	status = "okay";
};

&pdm {
	pinctrl-0 = <&pdm_dclk_a14_pins>, <&pdm_din0_pins>, <&pdm_din1_pins>;
	pinctrl-names = "default";
	status = "okay";
	assigned-clocks = <&clkc_audio AUD_CLKID_PDM_SYSCLK_SEL>, <&clkc_audio AUD_CLKID_PDM_DCLK_SEL>;
	assigned-clock-parents = <&clkc CLKID_HIFI_PLL>, <&clkc CLKID_HIFI_PLL>;
};
