/*
 * arch/arm64/boot/dts/amlogic/axg_sue_l2_streamkit1832_voice.dtsi
 *
 * Copyright (C) 2020 StreamUnlimited, Inc. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 */

/*
 * DT for components located on StreamKit1832 L0 carrier board that is used by
 * the daughter board, which are selected with DIP switches, when the daughter
 * board is present.
 */

/ {
	sue {
		daughterboard = "voice";
	};
};

/*
 * For three mic board configuration, the line from tdmb is "shared" with
 * PDM_DIN1 on the module's exposed pin so if TDMB is driven, the PDM_DIN1
 * outputs nothing.
 */
&aml_tdmb {
	status = "disabled";
};

&audiobus {
	aml_pdm: pdm {
		compatible = "amlogic, snd-pdm";
		#sound-dai-cells = <0>;
		clocks = <&clkaudio CLKID_AUDIO_PDM
			&clkc CLKID_FCLK_DIV3
			&clkc CLKID_HIFI_PLL
			&clkaudio CLKID_AUDIO_PDMIN0
			&clkaudio CLKID_AUDIO_PDMIN1>;
		clock-names = "gate",
			"sysclk_srcpll",
			"dclk_srcpll",
			"pdm_dclk",
			"pdm_sysclk";
		pinctrl-names = "pdm_pins";
		pinctrl-0 = <&pdmin_pins>;
		filter_mode = <1>; /* mode 0~4, defalut:1 */
		status = "okay";
	};
};

&auge_sound {
	aml-audio-card,dai-link@1 {
		mclk-fs = <256>;
		cpu {
			sound-dai = <&aml_pdm>;
		};
		codec {
			sound-dai = <&pdm_codec>;
		};
	};

	aml-audio-card,dai-link@2 {
		format = "i2s";
		continuous-clock;
		bitclock-master = <&aml_tdmc>;
		frame-master = <&aml_tdmc>;
		cpu {
			sound-dai = <&aml_tdmc>;
			dai-tdm-slot-tx-mask = <1 1>;
			dai-tdm-slot-rx-mask = <1 1>;
			dai-tdm-slot-num = <2>;
			dai-tdm-slot-width = <32>;
			system-clock-frequency = <24576000>;
		};
		codec {
			/*
			 * Linux does not list the MA12040 amplifier as a
			 * device, because it have incomplete DAI properties,
			 * because it is not an actual codec, only an analogue
			 * playback device.
			 * It is therefor important to set this driver as a
			 * multi codec device in the device tree e.g
			 * sound-dai = <&dummy_codec &ma12040_20>; Linux will
			 * list the sound dai if one of the codecs have
			 * sufficient DAI parameters.
			 * This corresponds to the actual configuration on
			 * streamkit1832:
			 *   Stream1832 => bootstrapped AK4430ET => MA12040
			 */
			sound-dai = <&dummy_codec &ma12040_20>;
		};
	};

	aml-audio-card,dai-link@3 {
		mclk-fs = <128>;
		cpu {
			sound-dai = <&aml_spdif>;
			system-clock-frequency = <6144000>;
		};
		codec {
			sound-dai = <&dummy_codec>;
		};
	};
};

&pdmin_pins {
	mux {
		/* Triple mic board configuration */
		groups = "pdm_dclk_a14",
		       "pdm_din0", /* PDM MIC0 on left channel, PDM MIC1 on right */
		       "pdm_din1"; /* PDM MIC2 */
		/*
		 * Note:
		 * - PDM_DIN2 can potentially conflicts with USB ID if J110 is
		 * populated,
		 * - PDM_DIN3 conflicts with reset-gpios of the display
		 * controller and potentially USB VBUS if R140 is populated,
		 */
		function = "pdm";
	};
};
